<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plans</title>
  </head>

  <body>
    <div id = "PLANS"/>
  </body>
  <script src="https://apis.google.com/js/api.js"
  onload="this.onload=function(){};handleClientLoad()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>

  <script type="text/javascript">
  window.pjplcu = <%= @user.to_json.html_safe %>
  </script>
</html>
